package {{.LCName}}

import (
    "reflect"

	"github.com/gromey/format-engine"
)

var (
	cfg = engine.Config{
		StructOpener:                nil,
		StructCloser:                nil,
		UnwrapWhenDecoding:          false,
		ValueSeparator:              nil,
		RemoveSeparatorWhenDecoding: false,
		// WARNING: DO NOT DELETE CONFIGURATIONS BELOW!
        Marshaller:  reflect.TypeOf((*Marshaller)(nil)).Elem(),
        Unmarshaler: reflect.TypeOf((*Unmarshaler)(nil)).Elem(),
	}
	{{.LCName}} = engine.New[tag](&engineTag{name: "{{.LCName}}"}, cfg)
)

// Marshal encodes the value v and returns the encoded data.
func Marshal(v any) ([]byte, error) {
	return {{.LCName}}.Marshal(v)
}

// Unmarshal decodes the encoded data and stores the result in the value pointed to by v.
func Unmarshal(b []byte, v any) error {
	return {{.LCName}}.Unmarshal(b, v)
}

type engineTag struct {
	name string
	engine.Default[tag]
}

type tag struct {}

// Name returns the name of the tag.
func (e engineTag) Name() string {
	return e.name
}

// Skip returns a flag indicating that the field should be ignored.
func (e engineTag) Skip(tagValue string) bool {
    // TODO If you want you can define your own condition for skipping fields. If you don't need to skip fields you can remove this method.
	return tagValue == "-"
}

// Parse gets a tagValue string, parses the tagValue into tag *tag,
// returns a flag indicating that the field is skipped if it's empty.
func (e engineTag) Parse(tagValue string, tag *tag) (omit bool, err error) {
    // TODO If you don't use tags, you can remove this method!
 	return
}

// Encode takes encoded data and performs secondary encoding to {{.UCName}} format.
func (e engineTag) Encode(tagValue string, tag *tag, in []byte, out engine.Writer) (err error) {
    // TODO If you need to format data implement me!
    _, err = out.Write(in)
    return
}

// Decode takes the raw encoded data and performs a primary decode from {{.UCName}} format.
func (e engineTag) Decode(tagValue string, tag *tag, in []byte, out engine.Writer) (err error) {
	// TODO Implement me!
	// Because format-engine doesn't know anything about your format,
	// you need to find the field value and performs a primary decode.
	// If cfg.RemoveSeparatorWhenDecoding is true you must remove the field value from the input data.
	// Example:
	//		i := bytes.Index(in, cfg.ValueSeparator)
	//		_, err = out.Write(in[:i])
	//		copy(in, in[i:])

	return
}
